@import 'Source';

aside {

    &.brand {
        color: var(--white);
        padding: 10px;
        display: block;
        text-align: center;
        background: transparent;
        font-size: 2rem;

        i {
            font-style: normal;
            color: var(--pink);
        }
    }
}
