
@import 'Fields';
@import 'Table';

table {

    button {
        margin: 12px 0;
        height: 30px;
        line-height: normal;
        box-sizing: border-box;
        padding: 0 15px;
        border: 1px solid $gray-300;

        &.edit {

            &:focus,
            &:active,
            &:hover {
                background: $orange;
                border-color: $orange;
                box-shadow: 0 0 5px 5px rgba(255, 152, 0, 0.3);

                i {
                    color: $white;
                }
            }
        }

        &.delete {

            &:focus,
            &:active,
            &:hover {
                background: $pink;
                border-color: $pink;
                box-shadow: 0 0 5px 5px rgba(209, 65, 113, 0.3);

                i {
                    color: $white;
                }
            }
        }
    }

    @media (max-width: 576px) {

        th,
        td {
            max-width: 7rem !important;

            &.actions {
                width: 30% !important;
            }
        }
    }

    @media (max-width: 768px) {

        th,
        td {
            max-width: 20rem !important;
        }
        &.actions {
            width: 1% !important;
        }
    }

    @media (min-width: 992px) {}

    @media (min-width: 1200px) {}
}

@import 'Buttons';
