@import 'Source';

table {
    text-align: left;
    border-collapse: collapse;
    width: 100vw;

    >tfoot {
        font-weight: bold;
        color: var(--primary);
    }

    thead,
    tbody,
    tfoot {

        tr {
            line-height: 40px;
            font-size: var(--font-small);


            th {
                border-top: var(--border-grey);
                border-bottom: var(--border-grey);
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 5px 15px;
            }

            td {
                padding: 5px 15px;
                border-bottom: 1px solid var(--grey-200);


                &.center {
                    text-align: center;
                }

                button {
                    border: var(--border-light);
                    background: transparent;
                    border-radius: var(--radius);
                    color: var(--grey);
                    padding: 7px 15px;
                    transition: var(--transition);
                    -o-transition: var(--transition);
                    -moz-transition: var(--transition);
                    -webkit-transition: var(--transition);

                    &:first-child {
                        margin-right: -1px;
                        border-right: 0;
                        border-radius: var(--radius) 0 0 var(--radius);
                    }

                    &:last-child {
                        border-left: 0;
                        border-radius: 0 var(--radius) var(--radius) 0;
                    }

                    &.btn-edit {

                        &:focus,
                        &:active,
                        &:hover {
                            background: var(--orange);
                            border-color: var(--orange);
                            box-shadow: 0 0 5px 5px rgba(255, 152, 0, 0.3);

                            i {
                                color: var(--white);
                            }
                        }
                    }
                    &.btn-dele {

                        &:focus,
                        &:active,
                        &:hover {
                            background: var(--pink);
                            border-color: var(--pink);
                            box-shadow: 0 0 5px 5px rgba(209, 65, 113, 0.3);

                            i {
                                color: var(--white);
                            }
                        }
                    }
                }
            }

            & .actions {
                width: 1%;
                text-align: center;
                white-space: nowrap;
            }
        }
    }
}
